* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #212121;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  text-align: center;
}

.value {
  background-color: bisque;
  color: #212121;
  border-radius: 4px;
}
